#! /bin/sh

# Set short description for this configuration file
CFG_PROFILE_DESC="GenAVB Video Talker"

# Set this configuration to 1 (on the listener) to enable
# genavb-controls-app to handle AECP controls command such as
# volume control from the talker entity
CFG_USE_EXTERNAL_CONTROLS=0
CFG_EXTERNAL_CONTROLS_APP=genavb-controls-app

# Set the media clock mode to master
CFG_MEDIA_CLOCK="-T -S 0 -c 0"

# Setup required Custom Video Server Application and options [Deprecated]
#CFG_EXTERNAL_MEDIA_APP="genavb-video-server-app"
#CFG_EXTERNAL_MEDIA_APP_OPT="-f /home/media/ -l -L 355 -d lvds"

# Setup the Media Application
CFG_EXTERNAL_MEDIA_APP="genavb-media-app"


# Set the video device: (default, lvds or hdmi)
#       default: set the default device for the machine
#       lvds: override the device to lvds (iMX6 Only)
#       hdmi: override the device to hdmi
CFG_PRIMARY_VIDEO_DEVICE="default"

# Talker mode : one stream <-> one pipeline with local video preview (Needs a connected screen on talker)
# Stream Talker 0 in avdecc entity is ie61883_6
# Stream Talker 1 in avdecc entity is ie61883_4 MPEG-TS
# Stream Talker 2 in avdecc entity is CVF H264
#CFG_EXTERNAL_MEDIA_APP_OPT='${CFG_MEDIA_CLOCK} -T -A 0 -g 0 -f /home/media/ -T -A 1 -g 1 -f /home/media/ -l -p 324000000 -d ${CFG_PRIMARY_VIDEO_DEVICE} -T -A 2 -g 2 -f /home/media/ -l -p 324000000 -d ${CFG_PRIMARY_VIDEO_DEVICE}'

# Talker mode : One pipeline multi talker streams with local video preview (Needs a connected screen on talker)
# Stream Talker 0 in avdecc entity is ie61883_6 mapped to multi handler (0) sink (1)
# Stream Talker 1 in avdecc entity is ie61883_4 MPEG-TS mapped to multi handler (0) sink (0)
# Stream Talker 2 in avdecc entity is CVF H264  mapped to multi handler (0) sink (2)
#CFG_EXTERNAL_MEDIA_APP_OPT='${CFG_MEDIA_CLOCK} -T -A 0 -m 0:1 -T -A 1 -m 0:0 -T -A 2 -m 0:2 -f /home/media/ -l -p 324000000 -d ${CFG_PRIMARY_VIDEO_DEVICE}'

# Talker mode : One pipeline multi talker streams without local video preview
# Stream Talker 0 in avdecc entity is ie61883_6 mapped to multi handler (0) sink (1)
# Stream Talker 1 in avdecc entity is ie61883_4 MPEG-TS mapped to multi handler (0) sink (0)
# Stream Talker 2 in avdecc entity is CVF H264  mapped to multi handler (0) sink (2)
CFG_EXTERNAL_MEDIA_APP_OPT='${CFG_MEDIA_CLOCK} -T -A 0 -m 0:1 -T -A 1 -m 0:0 -T -A 2 -m 0:2 -f /home/media/'
