#! /bin/sh

# Set short description for this configuration file
CFG_PROFILE_DESC="GenAVB Video Player + Controller GUI"

# Set this configuration to 1 (on the listener) to enable
# genavb-controls-app to handle AECP controls command such as
# volume control from the talker entity
CFG_USE_EXTERNAL_CONTROLS=1
CFG_EXTERNAL_CONTROLS_APP=genavb-controls-app

# frame buffer used for GUI composition
CFG_CONTROLLER_FB="fb1"
CFG_CONTROLLER_APP=genavb-gui-controller
CFG_CONTROLLER_APP_OPT_FB="-platform linuxfb:fb=/dev/$CFG_CONTROLLER_FB -plugin evdevtouch -f 10 --video -c /dev/$CFG_CONTROLLER_FB -T 2 -A 2"
CFG_CONTROLLER_APP_OPT_WL="-platform wayland-egl -f 4 --video -T 2 -A 2"
# Screen geometry for the HANNSTAR LVDS screen:
CFG_CONTROLLER_FBSET_OPT="-g 1024 768 1024 768 16 -fb /dev/$CFG_CONTROLLER_FB"

# Setup required Custom Media Application and option
# Stream Listener 0 in avdecc entity is ie61883_4 (mpeg-ts)
# Stream Listener 1 in avdecc entity is CVF H264
CFG_EXTERNAL_MEDIA_APP="genavb-media-app"

# Set the video device: (default, lvds or hdmi)
#       default: set the default device for the machine
#       lvds: override the device to lvds (iMX6 Only)
#       hdmi: override the device to hdmi
CFG_PRIMARY_VIDEO_DEVICE="default"


# Set the media clock mode to slave
CFG_MCR_SLAVE="-s"

CFG_EXTERNAL_MEDIA_APP_OPT='${CFG_MCR_SLAVE} -L -A 0 -g 0 -p 305000000 -a -v -d ${CFG_PRIMARY_VIDEO_DEVICE} -L -A 1 -g 1 -p 305000000 -v -d ${CFG_PRIMARY_VIDEO_DEVICE}'
