# Line Format to describe each Memory Object:
# <AVDECC Configuration Index> <Memory Object Descriptor Index> <Memory Object Type> <Max Supported Length> <Max Segment Length> <File Path>
#
#    <AVDECC Configuration Index>     Should match one of the AEM Configurations of the Entity.
#    <Memory Object Descriptor Index> Should match the corresponding AEM Descriptor of the Memory Object.
#    <Memory Object Type>             Should match the corresponding AEM Descriptor of the Memory Object and is one of:
#                                     FIRMWARE_IMAGE(0), VENDOR_SPECIFIC(1), CRASH_DUMP(2), LOG_OBJECT(3), AUTOSTART_SETTINGS(4),
#                                     SNAPSHOT_SETTINGS(5), SVG_MANUFACTURER(6), SVG_ENTITY(7), SVG_GENERIC(8), PNG_MANUFACTURER(9),
#                                     PNG_ENTITY(10), PNG_GENERIC(11), DAE_MANUFACTURER(12), DAE_ENTITY(13), DAE_GENERIC(14).
#    <Max Supported Length>           The maximum size supported for writes in bytes.
#    <Max Segment Length>             The maximum length for segment uploads in bytes.
#
# NXP logo (PNG):  Configuration 0 - Memory Object 0 - PNG_ENTITY
0 0 10 8192 256 /home/images/NXP_logo.png
