################################################################
#                                                              #
# AVB configuration file.                                      #
# It is made of different sections delimited with [XXXX] tags. #
# Each section can contain multiple key/value pairs.           #
#                                                              #
################################################################


################################################################
#        AVB section (parameters of "avb" application)         #
################################################################
[AVB_GENERAL]
# Log level: 'crit', 'err', 'init', 'info', 'dbg'. default: info
# Sets log level for most stack components
log_level = info

# Disable log for one or more components: 'avtp', 'avdecc', 'gptp', 'common', 'os', 'api', or 'none'
# Use a comma separated list to specify several components, eg: avtp, avdecc
disable_component_log = none

# Controls if monotonic time is included in the logs output
# disabled: only ptp time is included in logs output 
# enabled: both ptp and monotonic times are included in logs output
log_monotonic = disabled

[AVB_AVDECC]
# Enabled: 0 - disabled, 1 - enabled, default: enabled.
# Enables AVDECC stack component.
enabled = 0
